* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 2rem;
}

body {
    margin: 0.5rem;
    border-radius: 2rem;
    text-align: center;
}

nav {
    border: 2px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 5rem;
}

h2 {
    display: block;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 2rem 2rem 2rem 2rem;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

li a{
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: gray;
}

li a:hover,
li a:focus {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border-radius: 2rem 2rem 2rem 2rem;
}

li:first-child a{
    border-radius: 2rem 2rem 2rem 2rem;
}

li:last-child a{
    border-radius: 2rem 2rem 2rem 2rem;
}