* {
    font-family: monospace;
    box-sizing: border-box;
    font-size: 1rem;
    color: darkblue;
}

h1 {
    width: 22%;
    text-align: center;
    border: 3px solid red;
    font-size: 3rem;
    margin: 0 auto;
    background-color: rgb(4, 34, 72);
    color: white;
}

body {
    background-color: rgb(249, 245, 239);
    border: 5px solid #2874A6;
}

h2 {
    font-size: 2rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

p {
    text-align: center;
    font-size: 1.3rem;
}

hr {
    border: 2px dashed blue;
}

.highlight {
    background-color: yellow;
    font-size: 1.2rem;
}

.headings {
    width: 22%;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: indigo;
    border: 5px double crimson;
    background-color: antiquewhite;
    border-radius: 5px;
}

.code {
    color: red;
}

.center {
    margin: 0 auto;
}

.txtdeco {
    font-weight: bold;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height: 400px;
    object-fit: contain;
    border: 5px solid black;
    border-radius: 10px;
}

table {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.4em;
    background-color: darkslategrey;
    color: white;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.3em;
}

tr:hover td{
    background-color: cadetblue;
    color: white;
}

h1:hover {
    background-color: white;
    border-color: black;
    color: indigo;
}

h2:hover {
    color: white;
    background-color: darkslateblue;
    border-color: white;
}

p::selection {
    background-color: chartreuse;
    color: black;
}

img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}